<div class="app mobile">
	<div id="slide-1"></div>
	<div id="device-slide-carousel" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#device-slide-carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#device-slide-carousel" data-slide-to="1"></li>
	    <li data-target="#device-slide-carousel" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <div id="slide-2"></div>
	    </div>
	    <div class="item">
	      <div id="slide-3"></div>
	    </div>
	    <div class="item">
	      <div id="slide-4"></div>
	    </div>
	  </div>
	</div>
</div>