<nav class="droplet-nav" role="navigation">
  <ul>
    <li class="indicator">
      <button type="button" class="main" data-href="home">1</button>
    </li>
    <li class="indicator">
      <button type="button" data-href="notifications">2</button>
      <p class="popover-tag">NOTIFICATIONS</p>
    </li>
    <li class="indicator">
      <button type="button" data-href="s-pen">3</button>
      <p class="popover-tag">S PEN</p>
    </li>
    <li class="indicator">
      <button type="button" data-href="display">4</button>
      <p class="popover-tag">DISPLAY</p>
    </li>
  </ul> 
</nav>