<div class="device-slide-3">
	<div class="device-copy">
		<img src="img/samsung_edge_title.png" alt="Samsung Galaxy Note Edge">
		<h1>Just Act Natural</h1>
		<p>The S Pen™ features mouse-like functionality, so you can control your whole phone with precision and do things like highlight, copy, paste, annotate, draw and so much more.</p>
		<a href="#" class="pre-order">Pre Order</a>
		<a href="#" class="learn-more">Learn More</a>
	</div>
	<img src="img/C/edge_and_pen.png" class="device-image" alt="Samsung Note Edge with S Pen" />
</div>