<div class="device-slide-2">
	<div class="device-copy">
		<img src="img/samsung_edge_title.png">
		<h1>It's An Easy Read</h1>
		<p>Get texts, updates and emails, control music and more—all without disrupting what you’re doing on the main screen.</p>
		<a href="http://www.samsung.com/us/the-next-big-thing/galaxy-note-edge-features-and-specs/#buy-now" class="buy-now">Buy Now</a>
		<a href="http://www.samsung.com/us/the-next-big-thing/galaxy-note-edge-features-and-specs/#features/notifications" class="learn-more">Learn More</a>
	</div>
	<img src="img/B/easy_read_graphic.png" class="device-image" alt="Samsung Note Edge" />
</div>