<div class="device-slide-1">
	<div class="hero">
		<h1>The Next Big Thing Is Here<span class="super">™</span></h1>
		<h4>Select a device to explore more:</h4>
	</div>
	<nav id="home-nav">
		<div class="edge">
			<button type="button" data-href="notifications">
				<img src="img/edge_title.png" alt="Samsung Galaxy Note Edge">
				<span role="button" class="nav-arrow"></span>
			</button>
		</div>
		<div class="note">
			<button type="button" data-href="#">
				<img src="img/note_4_title.png" alt="Samsung Galaxy Note 4">
				<span role="button" class="nav-arrow"></span>
			</button>
		</div>
		<div class="gear">
			<button type="button" data-href="#">
				<img src="img/gear_s_title.png" alt="Samsung Gear S">
				<span role="button" class="nav-arrow"></span>
			</button>
		</div>
	</nav>
	<img class="animate-img animate-img-edge" src="img/A/TB_black_v_left.png" alt="Samsung Galaxy Note Edge">
	<img class="animate-img animate-img-gear" src="img/A/Gear_S_v_right.png" alt="Samsung Gear S">
	<img class="animate-img animate-img-note-4" src="img/A/TR_black_v_front.png" alt="Samsung Galaxy Note 4">
</div>