<div class="device-slide-2 container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="device-copy">
				<img src="img/samsung_edge_title.png" alt="Samsung Galaxy Note Edge" class="img-responsive">
				<h1>It's An Easy Read</h1>
				<p>Get texts, updates and emails, control music and more—all without disrupting what you’re doing on the main screen.</p>
				<a href="#" class="pre-order">Pre Order</a>
				<a href="#" class="learn-more">Learn More</a>
			</div>
		</div>
	</div>
	<div class="row img-row">
		<div class="col-xs-12">
			<img src="img/B/easy_read_graphic.png" class="img-responsive" alt="Samsung Galaxy Note Edge" />
		</div>
	</div>
</div>