<div class="device-slide-2">
	<div class="device-copy">
		<img src="img/samsung_edge_title.png">
		<h1>It's An Easy Read</h1>
		<p>Select a device to explore more:</p>
		<a href="http://www.samsung.com/us/the-next-big-thing/galaxy-note-edge-features-and-specs/#buy-now" class="buy-now">Buy Now</a>
		<a href="http://www.samsung.com/us/the-next-big-thing/galaxy-note-edge-features-and-specs/#features/notifications" class="learn-more">Learn More</a>
	</div>
	<img src="img/samsung-note-edge.png" class="device-image" alt="Samsung Note Edge" />
</div>