<div class="device-slide-4">
	<div class="device-copy">
		<img src="img/samsung_edge_title.png" alt="Samsung Galaxy Note Edge">
		<h1>This Feels Real</h1>
		<p>Our 5.6-inch Quad HD Super AMOLED® display delivers richer colors and deeper shadows to make all your videos and content feel more authentic than ever before.</p>
		<a href="#" class="pre-order">Pre Order</a>
		<a href="#" class="learn-more">Learn More</a>
	</div>
	<img src="img/D/note_edge.png" class="device-image" alt="Samsung Galaxy Note Edge" />
</div>