<div class="device-slide-3 container-fluid">
	<div class="row">
		<div class="col-xs-6">
			<div class="device-copy">
				<img src="img/samsung_edge_title.png" alt="Samsung Galaxy Note Edge">
				<h1>Just Act Natural</h1>
				<p>The S Pen™ features mouse-like functionality, so you can control your whole phone with precision and do things like highlight, copy, paste, annotate, draw and so much more.</p>
				<a href="#" class="pre-order">Pre Order</a>
				<a href="#" class="learn-more">Learn More</a>
			</div>
		</div>
		<div class="col-xs-6">
			<img src="img/C/edge_and_pen.png" class="img-responsive" style="position:absolute;bottom:0" alt="Samsung Note Edge with S Pen" />
		</div>
	</div>
</div>