<div class="device-slide-mobile container-fluid">
	<div class="row phone-row" style="position:relative;margin-top:30px">
		<div class="img-row">
			<div class="col-xs-4 edge-col">
				<img class="device-image-edge img-responsive" src="img/A/TB_black_v_left.png" alt="Samsung Galaxy Note Edge">
			</div>
			<div class="col-xs-4 note-col">
				<img class="device-image-note img-responsive" src="img/A/TR_black_v_front.png" alt="Samsung Galaxy Note 4">
			</div>
			<div class="col-xs-4 gear-col">
				<img class="device-image-gear img-responsive" src="img/A/Gear_S_v_right.png" alt="Samsung Gear S">
			</div>
		</div>
	</div>
	<div class="row mobile-copy-row">
		<div class="col-xs-12">
			<div class="device-copy">
				<h1>The Next Big Thing Is Here<span class="super">™</span></h1>
				<h4>Select a device to explore more:</h4>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="note phone-title">
						<button type="button" data-href="#">
							<img src="img/note_4_title.png" class="img-responsive" alt="Samsung Galaxy Note 4">
						</button>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="edge phone-title">
						<button type="button" data-href="#">
							<img src="img/edge_title.png" class="img-responsive" alt="Samsung Galaxy Note Edge">
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="gear phone-title">
						<button type="button" data-href="#">
							<img src="img/gear_s_title.png" class="img-responsive" alt="Samsung Gear S">
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="slide-carousel" class="carousel slide">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#slide-carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#slide-carousel" data-slide-to="1"></li>
		    <li data-target="#slide-carousel" data-slide-to="2"></li>
		  </ol>

		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		    	<div class="carousel-image-wrapper">
			    	<img src="img/B/easy_read_graphic.png" class="img-responsive img-notifications" alt="Samsung Galaxy Note Edge" />
			    </div>
		      	<div class="device-copy" style="background:black">
					<h1>It's An Easy Read</h1>
					<p>Get texts, updates and emails, control music and more—all without disrupting what you’re doing on the main screen.</p>
					<a href="#" class="pre-order">Buy Now</a>
					<a href="#" class="learn-more">Learn More</a>
				</div>
		    </div>
		    <div class="item">
		    	<div class="carousel-image-wrapper">
			    	<img src="img/C/edge_and_pen.png" class="img-responsive img-s-pen" alt="Samsung Note Edge with S Pen" />
			    </div>
		    	<div class="device-copy" style="background:black">
					<h1>Just Act Natural</h1>
					<p>The S Pen™ features mouse-like functionality, so you can control your whole phone with precision and do things like highlight, copy, paste, annotate, draw and so much more.</p>
					<a href="#" class="pre-order">Buy Now</a>
					<a href="#" class="learn-more">Learn More</a>
				</div>
		    </div>
		    <div class="item">
		    	<div class="carousel-image-wrapper">
			    	<img src="img/D/note_edge.png" class="img-responsive img-display" alt="Samsung Galaxy Note Edge" />
			    </div>
				<div class="device-copy" style="background:black">
					<h1>This Feels Real</h1>
					<p>Our 5.6-inch Quad HD Super AMOLED® display delivers richer colors and deeper shadows to make all your videos and content feel more authentic than ever before.</p>
					<a href="#" class="pre-order">Pre Order</a>
					<a href="#" class="learn-more">Learn More</a>
				</div>
		    </div>
		  </div>
		</div>
	</div>
</div>