<div class="device-slide-1 container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="device-copy">
				<h1>The Next Big Thing Is Here<span class="super">™</span></h1>
				<h4>Select a device to explore more:</h4>
			</div>
		</div>
	</div>
	<div class="row img-row">
		<div class="col-xs-4 edge-col">
			<div class="edge phone-title">
				<button type="button" data-href="notifications">
					<img src="img/edge_title.png" alt="Samsung Galaxy Note Edge">
					<span role="button" class="nav-arrow"></span>
				</button>
			</div>
			<img class="device-image-edge img-responsive" src="img/A/TB_black_v_left.png" alt="Samsung Galaxy Note Edge">
		</div>
		<div class="col-xs-4 note-col">
			<div class="note phone-title">
				<button type="button" data-href="#">
					<img src="img/note_4_title.png" alt="Samsung Galaxy Note 4">
					<span role="button" class="nav-arrow"></span>
				</button>
			</div>
			<img class="device-image-note img-responsive" src="img/A/TR_black_v_front.png" alt="Samsung Galaxy Note 4">
		</div>
		<div class="col-xs-4 gear-col">
			<div class="gear phone-title">
				<button type="button" data-href="#">
					<img src="img/gear_s_title.png" alt="Samsung Gear S">
					<span role="button" class="nav-arrow"></span>
				</button>
			</div>
			<img class="device-image-gear img-responsive" src="img/A/Gear_S_v_right.png" alt="Samsung Gear S">
		</div>
	</div>
</div>