.centered {
  margin-left: auto;
  margin-right: auto;
}
.rounded {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
li.indicator {
  position: relative;
  cursor: pointer;
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.3s;
  border: 2px solid #20a2ff;
  height: 15px;
  width: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: auto;
  margin-right: auto;
}
li.indicator.main {
  height: 30px;
  width: 30px;
}
li.indicator.main:before {
  margin-top: 0;
}
li.indicator.main:after {
  top: .25em;
}
li.indicator.active {
  background-color: #20a2ff;
}
li.indicator:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
}
li.indicator a {
  color: transparent;
}
.popover-tag {
  position: absolute;
}
.popover-tag:before {
  content: "";
  display: inline-block;
  margin-top: -1em;
  width: 50px;
  height: 15px;
  color: #NaNNaNNaNee;
  margin-left: -60px;
  background-color: #20a2ff;
  padding: 7.5px;
}
.popover-tag:after {
  content: "";
  border: 7.5px solid transparent;
  border-left-color: #20a2ff;
  background: transparent;
  margin-top: 0px;
  position: absolute;
  top: 0;
  left: -15px;
}
