/*Set Up*/
@font-face {
  font-family: 'samscon-italic';
  src: url("../fonts/samscon/samsungif_it-webfont.eot");
  src: url("../fonts/samscon/samsungif_it-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/samscon/samsungif_it-webfont.woff") format("woff"), url("../fonts/samscon/samsungif_it-webfont.ttf") format("truetype"), url("../fonts/samscon/samsungif_it-webfont.svg#InterfaceI") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'samscon';
  src: url("../fonts/samscon/samsungif_rg-webfont.eot");
  src: url("../fonts/samscon/samsungif_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/samscon/samsungif_rg-webfont.woff") format("woff"), url("../fonts/samscon/samsungif_rg-webfont.ttf") format("truetype"), url("../fonts/samscon/samsungif_rg-webfont.svg#InterfaceR") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'samscon-bold';
  src: url("../fonts/samscon/samsungif_bd-webfont.eot");
  src: url("../fonts/samscon/samsungif_bd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/samscon/samsungif_bd-webfont.woff") format("woff"), url("../fonts/samscon/samsungif_bd-webfont.ttf") format("truetype"), url("../fonts/samscon/samsungif_bd-webfont.svg#InterfaceB") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'samscon-boldItalic';
  src: url("../fonts/samscon/samsungif_bdit-webfont.eot");
  src: url("../fonts/samscon/samsungif_bdit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/samscon/samsungif_bdit-webfont.woff") format("woff"), url("../fonts/samscon/samsungif_bdit-webfont.ttf") format("truetype"), url("../fonts/samscon/samsungif_bdit-webfont.svg#InterfaceBI") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'samscon-black';
  src: url("../fonts/samscon/samsungif_blk-webfont.eot");
  src: url("../fonts/samscon/samsungif_blk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/samscon/samsungif_blk-webfont.woff") format("woff"), url("../fonts/samscon/samsungif_blk-webfont.ttf") format("truetype"), url("../fonts/samscon/samsungif_blk-webfont.svg#InterfaceBlk") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: samscon, Arial, Helvetica, sans-serif;
  color: #FFF;
}
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
}
button:focus {
  outline: 0;
}
/*Galaxy App*/
#galaxy-app {
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
  max-height: 789px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  /*Home View*/

  /*Notifications*/

  /*S Pen*/

  /*Display*/

  /*Navigation*/

}
@media (max-width: 750px) {
  #galaxy-app {
    max-height: inherit;
  }
}
@media (min-width: 751px) and (max-width: 815px) {
  #galaxy-app {
    max-height: 610px;
  }
}
@media (min-width: 816px) and (max-width: 960px) {
  #galaxy-app {
    max-height: 680px;
  }
}
@media (min-width: 961px) and (max-width: 1080px) {
  #galaxy-app {
    max-height: 725px;
  }
}
@media (min-width: 1081px) and (max-width: 1200px) {
  #galaxy-app {
    max-height: 745px;
  }
}
#galaxy-app #content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../img/A/BG_A.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#galaxy-app .view-home-container {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 0;
  height: 100%;
  max-width: 1280px;
}
#galaxy-app .view-home-container > div {
  position: relative;
  height: 100%;
}
#galaxy-app .view-home-container > div .animate-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
#galaxy-app .view-home-container > div .animate-img.animate-img-edge {
  max-width: 427px;
  width: 34%;
  z-index: 3;
  -webkit-transform: translate3d(-140%, 10%, 0);
  -moz-transform: translate3d(-140%, 10%, 0);
  -ms-transform: translate3d(-140%, 10%, 0);
  -o-transform: translate3d(-140%, 10%, 0);
  transform: translate3d(-140%, 10%, 0);
}
#galaxy-app .view-home-container > div .animate-img.animate-img-edge.fire {
  -webkit-transform: translate3d(-140%, 0, 0);
  -moz-transform: translate3d(-140%, 0, 0);
  -ms-transform: translate3d(-140%, 0, 0);
  -o-transform: translate3d(-140%, 0, 0);
  transform: translate3d(-140%, 0, 0);
}
#galaxy-app .view-home-container > div .animate-img.animate-img-gear {
  max-width: 378px;
  width: 30%;
  z-index: 1;
  -webkit-transform: translate3d(36%, 10%, 0);
  -moz-transform: translate3d(36%, 10%, 0);
  -ms-transform: translate3d(36%, 10%, 0);
  -o-transform: translate3d(36%, 10%, 0);
  transform: translate3d(36%, 10%, 0);
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
#galaxy-app .view-home-container > div .animate-img.animate-img-gear.fire {
  -webkit-transform: translate3d(36%, 0, 0);
  -moz-transform: translate3d(36%, 0, 0);
  -ms-transform: translate3d(36%, 0, 0);
  -o-transform: translate3d(36%, 0, 0);
  transform: translate3d(36%, 0, 0);
}
#galaxy-app .view-home-container > div .animate-img.animate-img-note-4 {
  max-width: 454px;
  width: 36%;
  z-index: 2;
  -webkit-transform: translate3d(-50%, 10%, 0);
  -moz-transform: translate3d(-50%, 10%, 0);
  -ms-transform: translate3d(-50%, 10%, 0);
  -o-transform: translate3d(-50%, 10%, 0);
  transform: translate3d(-50%, 10%, 0);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
#galaxy-app .view-home-container > div .animate-img.animate-img-note-4.fire {
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
#galaxy-app .view-home-container > div .animate-img.fire {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#galaxy-app .hero {
  position: absolute;
  left: 0;
  top: 15px;
  width: 100%;
  text-align: center;
}
#galaxy-app .hero .super {
  font-size: 0.5em;
  vertical-align: super;
}
#galaxy-app .hero h1 {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: normal;
  font-size: 4em;
  padding-right: 15px;
  border-right: 1px solid #505159;
}
@media (max-width: 960px) {
  #galaxy-app .hero h1 {
    width: 100%;
    border: none;
  }
}
#galaxy-app .hero h4 {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: normal;
  color: #B5BDC0;
  font-size: 1.15em;
  font-family: samscon-italic;
  padding-left: 15px;
}
#galaxy-app .hero .heading {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: normal;
}
#galaxy-app #home-nav > div {
  position: absolute;
}
#galaxy-app #home-nav > div.edge {
  left: 21%;
  top: 37%;
  max-width: 290px;
  -webkit-transform: translate3d(-60%, 0, 0);
  -moz-transform: translate3d(-60%, 0, 0);
  -ms-transform: translate3d(-60%, 0, 0);
  -o-transform: translate3d(-60%, 0, 0);
  transform: translate3d(-60%, 0, 0);
}
#galaxy-app #home-nav > div.edge img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-right: 1em;
}
@media (max-width: 960px) {
  #galaxy-app #home-nav > div.edge {
    left: 17%;
    top: 44%;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  #galaxy-app #home-nav > div.edge img {
    width: 60%;
  }
}
#galaxy-app #home-nav > div.note {
  left: 50%;
  top: 26%;
  max-width: 300px;
  -webkit-transform: translate3d(-50%, -15%, 0);
  -moz-transform: translate3d(-50%, -15%, 0);
  -ms-transform: translate3d(-50%, -15%, 0);
  -o-transform: translate3d(-50%, -15%, 0);
  transform: translate3d(-50%, -15%, 0);
}
#galaxy-app #home-nav > div.note img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-right: 1em;
}
@media (max-width: 960px) {
  #galaxy-app #home-nav > div.note {
    left: 50%;
    top: 31%;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  #galaxy-app #home-nav > div.note img {
    width: 60%;
  }
}
#galaxy-app #home-nav > div.gear {
  left: 50%;
  top: 48%;
  max-width: 190px;
  -webkit-transform: translate3d(130%, 0, 0);
  -moz-transform: translate3d(130%, 0, 0);
  -ms-transform: translate3d(130%, 0, 0);
  -o-transform: translate3d(130%, 0, 0);
  transform: translate3d(130%, 0, 0);
}
#galaxy-app #home-nav > div.gear img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin-right: 1em;
}
@media (max-width: 960px) {
  #galaxy-app #home-nav > div.gear {
    left: 78%;
    top: 52%;
    -webkit-transform: translate3d(-40%, 0, 0);
    -moz-transform: translate3d(-40%, 0, 0);
    -ms-transform: translate3d(-40%, 0, 0);
    -o-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
  }
  #galaxy-app #home-nav > div.gear img {
    width: 60%;
  }
}
#galaxy-app .nav-arrow {
  background-image: url('../img/white-arrow.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 44px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#galaxy-app .nav-arrow.hovered {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#galaxy-app .device-slide-2 .device-copy {
  max-width: 650px;
  text-align: center;
  position: absolute;
  z-index: 5;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 8%;
}
#galaxy-app .device-slide-2 .device-copy h1 {
  font-size: 4em;
  font-weight: normal;
  line-height: 1em;
}
#galaxy-app .device-slide-2 .device-copy p {
  font-size: 1.2em;
  margin-top: 12px;
  line-height: 1.6em;
}
#galaxy-app .device-slide-2 .device-copy .pre-order {
  padding: 15px 50px;
  border: 1px solid #20A2FF;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5%;
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
  color: #FFF;
  background-color: #20a2ff;
  margin-right: 20px;
}
#galaxy-app .device-slide-2 .device-copy .pre-order:hover {
  color: #20a2ff;
  background-color: inherit;
  text-decoration: none;
}
#galaxy-app .device-slide-2 .device-copy .learn-more {
  padding: 15px 50px;
  border: 1px solid #20A2FF;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5%;
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
  color: #20a2ff;
}
#galaxy-app .device-slide-2 .device-copy .learn-more:hover {
  color: #FFF;
  background-color: #20a2ff;
  text-decoration: none;
}
#galaxy-app .device-slide-2 .device-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
#galaxy-app .device-slide-3 .device-copy {
  max-width: 500px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 5;
}
#galaxy-app .device-slide-3 .device-copy h1 {
  font-size: 4em;
  font-weight: normal;
  line-height: 1em;
}
#galaxy-app .device-slide-3 .device-copy p {
  font-size: 1.2em;
  margin-top: 12px;
  line-height: 1.6em;
}
#galaxy-app .device-slide-3 .device-copy .pre-order {
  padding: 15px 50px;
  border: 1px solid #20A2FF;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5%;
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
  color: #FFF;
  background-color: #20a2ff;
  margin-right: 20px;
}
#galaxy-app .device-slide-3 .device-copy .pre-order:hover {
  color: #20a2ff;
  background-color: inherit;
  text-decoration: none;
}
#galaxy-app .device-slide-3 .device-copy .learn-more {
  padding: 15px 50px;
  border: 1px solid #20A2FF;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5%;
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
  color: #20a2ff;
}
#galaxy-app .device-slide-3 .device-copy .learn-more:hover {
  color: #FFF;
  background-color: #20a2ff;
  text-decoration: none;
}
#galaxy-app .device-slide-3 .device-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  max-width: 567px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#galaxy-app .device-slide-4 .device-copy {
  max-width: 650px;
  text-align: center;
  position: absolute;
  z-index: 5;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 8%;
}
#galaxy-app .device-slide-4 .device-copy h1 {
  font-size: 4em;
  font-weight: normal;
  line-height: 1em;
}
#galaxy-app .device-slide-4 .device-copy p {
  font-size: 1.2em;
  margin-top: 12px;
  line-height: 1.6em;
}
#galaxy-app .device-slide-4 .device-copy .pre-order {
  padding: 15px 50px;
  border: 1px solid #20A2FF;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5%;
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
  color: #FFF;
  background-color: #20a2ff;
  margin-right: 20px;
}
#galaxy-app .device-slide-4 .device-copy .pre-order:hover {
  color: #20a2ff;
  background-color: inherit;
  text-decoration: none;
}
#galaxy-app .device-slide-4 .device-copy .learn-more {
  padding: 15px 50px;
  border: 1px solid #20A2FF;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5%;
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
  color: #20a2ff;
}
#galaxy-app .device-slide-4 .device-copy .learn-more:hover {
  color: #FFF;
  background-color: #20a2ff;
  text-decoration: none;
}
#galaxy-app .device-slide-4 .device-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
#galaxy-app #menu {
  display: none;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
#galaxy-app .droplet-nav ul {
  position: absolute;
  right: 5%;
  top: 40%;
  z-index: 10;
}
#galaxy-app .droplet-nav li.indicator {
  position: relative;
  text-align: center;
}
#galaxy-app .droplet-nav li.indicator button {
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border: 2px solid #20a2ff;
  height: 16px;
  width: 16px;
  background-color: transparent;
  color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#galaxy-app .droplet-nav li.indicator button.main {
  height: 32px;
  width: 32px;
}
#galaxy-app .droplet-nav li.indicator button.active {
  background-color: #20a2ff;
}
#galaxy-app .droplet-nav li.indicator button:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#galaxy-app .droplet-nav li.indicator button:focus {
  outline: 0;
}
#galaxy-app .popover-tag {
  font-family: samscon, Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: -4px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  padding: 3px 10px;
  vertical-align: middle;
  font-size: 0.8em;
  white-space: nowrap;
  text-transform: uppercase;
  color: #FFF;
  background: #20a2ff;
  -webkit-transform: translate(-100%, 45%);
  -moz-transform: translate(-100%, 45%);
  -ms-transform: translate(-100%, 45%);
  -o-transform: translate(-100%, 45%);
  transform: translate(-100%, 45%);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#galaxy-app .popover-tag:after {
  content: "";
  border: 8px solid transparent;
  border-left-color: #20a2ff;
  background: transparent;
  margin-top: 0px;
  position: absolute;
  top: 0.4em;
  right: -16px;
}
/*Prefixing*/
